@import "tailwindcss";

@font-face {
    font-family: "Aeonik";
    src: url("/fonts/Aeonik.ttf") format("truetype");
}

@font-face {
    font-family: "Aeonik Light";
    src: url("/fonts/Aeonik-Light.otf") format("opentype");
}

@font-face {
    font-family: "Aeonik Bold";
    src: url("/fonts/Aeonik-Bold.otf") format("opentype");
}

body {
    font-family: "Aeonik", sans-serif;
}

.font-aeonik-bold {
    font-family: "Aeonik Bold", sans-serif;
}

.font-aeonik-light {
    font-family: "Aeonik Light", sans-serif;
}

.primary-button:hover {
    /*background-color: hsla(0, 0%, 100%, 0.08); /* softer glassy tint */
    border-color: hsla(0, 0%, 100%, 0.6); /* slightly brighter border */
    box-shadow:
        inset 0 0 6px hsla(0, 0%, 100%, 0.2),
        /* inner glow */ inset 0 0 14px hsla(0, 0%, 100%, 0.1),
        /* subtle depth */ 0 4px 20px hsla(0, 0%, 0%, 0.25); /* outer shadow for lift */
    color: #000;
    transform: translateY(-2px); /* tiny lift on hover */
    transition: all 0.25s ease; /* smoother transition */
    cursor: pointer;
    font-weight: bold;
}

.tag {
    /*border-color: hsla(0, 0%, 100%, 0.6); /* slightly brighter border */
    box-shadow:
        inset 0 0 6px hsla(0, 0%, 100%, 0.2),
        /* inner glow */ inset 0 0 14px hsla(0, 0%, 100%, 0.1),
        /* subtle depth */ 0 4px 20px hsla(0, 0%, 0%, 0.25); /* outer shadow for lift */
    color: #000;
    transform: translateY(-2px); /* tiny lift on hover */
    transition: all 0.25s ease; /* smoother transition */
    cursor: pointer;
    font-weight: semibold;
}
